
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="agent-2-peperty" class="my-pro padding">
    <div class="container">
        <div class="row bottom30">
            <div class="col-md-12 text-center">
                <h2 class="text-uppercase">My Properties</h2>
            </div>
        </div>
    </div>
    <div class="container  list-t-border" id="myProperties">
    </div>
</section>

<script src="~/Scripts/web_services/my_properties.js"></script>
