
@{
    ViewBag.Title = "Agents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-banner padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-uppercase">Registered Agents</h1>
            </div>
        </div>
    </div>
</section>

<section id="agent-2" class="padding_top padding_bottom_half">
    <div class="container">
        <div class="row" id="propertyAgents">

        </div>
    </div>
</section>

<script src="~/Scripts/web_services/agents.js"></script>